:root {
    --dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
}

body{
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

main, header{
    max-width: 375px;
    min-width: 348px;
    width: 300px;
    padding: 2em;
}

main{
    background: #fff;
    border-radius: 1.2em;
}

.illustration-images{
    text-align: center;
}

.woman-desktop-illustration{
    width: 75%;
}

.box-desktop-illustration{
    width: 28%;
    position: relative;
    bottom: 10.5em;
    right: 6.8em;
}

.main-title{
    text-align: center;
    font-size: 3.5em;
}

.faq{
    border-bottom: 1.3px solid var(--light-grayish-blue);
}

.faq-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-description{
    color: var(--dark-grayish-blue);
}